<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container">
    <div class="text-center">
      <h6 class="section-title bg-white text-center text-primary px-3">Đánh giá</h6>
      <h1 class="mb-5">Khách hàng của chúng tôi nói!!!</h1>
    </div>
    <div class="owl-carousel testimonial-carousel position-relative">
      <div class="testimonial-item bg-white text-center border p-4">
        <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="../../assets/client/img/testimonial-1.jpg"
             style="width: 80px; height: 80px;">
        <h5 class="mb-0">Claira</h5>
        <p>New York, USA</p>
        <p class="mb-0">Chuyến tham quan thành phố tuyệt vời trên một chiếc xe buýt sạch sẽ và thoải mái với những tờ
          báo lá cải cung cấp cho bạn thông tin trên mỗi trang web chúng tôi đi qua. Du thuyền trên sông bắt đầu sau
          chuyến tham quan thành phố và khởi hành mỗi giờ từ Tháp Eiffel (trở về cùng một cảng mà không có điểm dừng
          khác).</p>
      </div>
      <div class="testimonial-item bg-white text-center border p-4">
        <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="../../assets/client/img/testimonial-2.jpg"
             style="width: 80px; height: 80px;">
        <h5 class="mb-0">John Doe</h5>
        <p>New York, USA</p>
        <p class="mt-2 mb-0">Tôi thích chuyến đi này. Chuyến đi rất thư giãn đặc biệt là khi bạn ở cùng bọn trẻ</p>
      </div>
      <div class="testimonial-item bg-white text-center border p-4">
        <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="../../assets/client/img/testimonial-3.jpg"
             style="width: 80px; height: 80px;">
        <h5 class="mb-0">patricia</h5>
        <p>New York, USA</p>
        <p class="mt-2 mb-0">Chuyến tham quan tuyệt vời nhưng còn lại để sở hữu các chuyến đi để trở về CSONG đưa đón
          disneyland đã không dừng lại để đón chúng tôi hoặc một cặp vợ chồng khác cũng rất thất vọng về việc tổ chức
          bởi klook sub par</p>
      </div>
      <div class="testimonial-item bg-white text-center border p-4">
        <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="../../assets/client/img/testimonial-4.jpg"
             style="width: 80px; height: 80px;">
        <h5 class="mb-0">Rakesh Kumar</h5>
        <p>New York, USA</p>
        <p class="mt-2 mb-0">Một tour du lịch nhóm đi bộ tuyệt vời. Hướng dẫn rất tốt. Biết Paris, cũ và mới. Đi dọc
          sông Siêm. Chuyến tham quan kết thúc gần tháp Eiffel.</p>
      </div>
    </div>
  </div>
</div>

