<div class="container-fluid position-relative p-0">
  <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
    <a href="" class="navbar-brand p-0">
      <h1 class="text-primary m-0"><i class="fa fa-map-marker-alt me-3"></i>Tour</h1>
      <!-- <img src="img/logo.png" alt="Logo"> -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto py-0">
        <a href="/" class="nav-item nav-link" [ngClass]="{'active': activeNav=='home'}">Trang chủ</a>
        <a href="/about" class="nav-item nav-link" [ngClass]="{'active': activeNav=='about'}">Về chúng tôi</a>
        <a href="/package" class="nav-item nav-link" [ngClass]="{'active': activeNav=='package'}">Gói tour</a>
        <a href="/booking" class="nav-item nav-link" [ngClass]="{'active': activeNav=='booking'}">Đăng ký tour</a>
        <a href="/my-booking" class="nav-item nav-link"
           [ngClass]="{'d-none': !isLogin, 'active': activeNav=='my-booking'}">Lịch sử đặt tour</a>
        <a href="/login" class="nav-item nav-link" [ngClass]="{'d-none': !isLogin}" (click)="logout()">Đăng xuất</a>
      </div>
      <a href="/register" class="btn btn-primary rounded-pill py-2 px-4" [ngClass]="{'d-none': isLogin}">Đăng ký tài
        khoản</a>
    </div>
  </nav>
  <ng-container *ngIf="isHomePage; else otherPage">
    <div class="container-fluid bg-primary py-5 mb-5 hero-header">
      <div class="container py-5">
        <div class="row justify-content-center py-5">
          <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Tận hưởng kỳ nghỉ của bạn với chúng tôi</h1>
            <p class="fs-4 text-white mb-4 animated slideInDown">Ngao du thiên hạ - Ưu đãi cực sốc</p>
            <div class="position-relative w-75 mx-auto animated slideInDown">
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #otherPage>
  <div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
      <div class="row justify-content-center py-5">
        <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
          <h1 class="display-3 text-white animated slideInDown" [innerText]="navName" id="navName"></h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
              <li class="breadcrumb-item"><a href="javascript:;" id="bread1">Home</a></li>
              <li class="breadcrumb-item text-white active" id="bread2" [innerText]="bread2" aria-current="page"></li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</ng-template>
