<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="white-box">
        <h3 class="box-title">Danh sách dịch vụ</h3>
        <a class="btn btn-success" routerLink="/admin/package/add">Thêm mới</a>
        <div class="table-responsive">
          <table class="table text-nowrap">
            <thead>
            <tr>
              <th class="border-top-0">#</th>
              <th class="border-top-0">Tên gói dịch vụ</th>
              <th class="border-top-0">Giá tiền</th>
              <th class="border-top-0">Điểm đến</th>
              <th class="border-top-0">Số ngày</th>
              <th class="border-top-0">Số người</th>
              <th class="border-top-0">Mô tả</th>
              <th class="border-top-0">Hình ảnh</th>
              <th class="border-top-0">Thao tác</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let item of listPackage">
              <tr>
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.destinationId}}</td>
                <td>{{item.days}}</td>
                <td>{{item.numberOfPeople}}</td>
                <td>{{item.description | slice: 0 : 200}}</td>
                <td>
                  <img [src]="item.image" alt="" width="100px" height="100px">
                </td>
                <td>
                  <ng-container *ngIf="item.isDeleted == false">
                    <button class="btn btn-danger" (click)="delete(item.id)">Xóa</button>
                  </ng-container>
                  <ng-container *ngIf="item.isDeleted == true">
                    <button class="btn btn-success" (click)="restore(item.id)">Kích hoạt</button>
                  </ng-container>
                </td>
            </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
